<div id="<%= dom_id post %>">
  <div>
    
    <%= post.title %>
  </div>

  <div>
    
    <%= post.description %>
  </div>

  <div>
    
    <%= post.keywords %>
  </div>

  <div>
    
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: contain; width: 200px; height: 200px; ") %>
      <% end %> 
  </div>

</div>
